<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>
<body>
 
 <% if (locals.user != undefined) { %>
	
	<%- include("./partials/headerLogueado") %>	
 <% } else{%>
	<%- include("./partials/header") %>	
	<% } %>
	<!-- Banner -->
	<div class="banner">
		<img src="images/banner.png" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Productos</h2>
			</div>
			
			 <% for( let i = 0; i < listado.length; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/producto/detalle/<%=listado[i].id%>">
							<figure class="product-box_image">
								<img src="<%= listado[i].imagen %>" alt="<%= listado[i].nombre %>">
							</figure>
							<article class="product-box_data">
								<h2>Nombre: <%= listado[i].nombre %></h2>
								<p>Descripcion: <%= listado[i].descripcion %></p>
								<p>Comentarios: <%= listado[i].comentarios.length %></p>
							</article>
						</a>
					</section>
				</div>
			 <% } %>

		</div>
	</div>

<%- include("./partials/footer") %>
</body>	
</html>