<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>
	<% if (locals.user != undefined) { %>
	
		<%- include("./partials/headerLogueado") %>	
	 <% } else{%>
		<%- include("./partials/header") %>	
		<% } %>
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="product-header-inline">
			<h2 class="products-title-inline"><%= producto.nombre %></h2>
			<a href="/producto/agregarproducto" class="editar-link">Editar</a>
		  </div>
		  
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= producto.imagen %>" alt=" <%= producto.nombre %>" class="product-detail-img">
					<p class="product-detail-description">
						<%= producto.descripcion %> </p>
					<article class="username-pfp">
						<img class="userpfp" src="<%= producto.usuario.foto%> " alt="foto de perfil de <%= producto.usuario.username %>">
						<strong> <a href="/users/profile/<%= producto.usuario.id %>"> <%= producto.usuario.username %>  </a> </strong>
					</article>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% if (producto.comentarios && producto.comentarios.length > 0) { %>
							<% for (let i = 0; i < producto.comentarios.length; i++) { %>
								<article>
									<% if (producto.comentarios[i].usuario) { %>
										<img src="<%= producto.comentarios[i].usuario.foto %>" alt="">
										<div class="data">
											<p class="user">
												<strong>
													<a href="/users/profile/<%= producto.comentarios[i].usuario.id %>">
														<%= producto.comentarios[i].usuario.username %>
													</a>
												</strong>
												<%= producto.comentarios[i].texto %>
											</p>
										</div>
									<% } else { %>
										<p>Comentario sin usuario válido.</p>
									<% } %>
								</article>
							<% } %>
						<% } else { %>
							<p><Este producto aún no tiene comentarios.</p>
						<% } %>
					</section>

					<% if (locals.user) { %>
					<form class="form" action="/producto/comentario/<%=producto.id%>" method="POST">
						<input class="form-input" name="texto" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<% } else { %>
						<p><a href="/users/login">Iniciá sesión para comentar.</a></p>
					  <% } %>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>
