

<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<%- include("./partials/header") %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for( let i = 0; i < results.length; i++ ) { %>
				<div class="col-12">
						<article class="resultado-box">
							<img src="<%= results[i].imagen %>" alt="<%= results[i].nombre %>">
								<h2>Nombre: <%= results[i].nombre %></h2>
								<p>Descripcion: <%= results[i].descripcion %></p>
								<p>Comentarios: <%= results[i].comentarios.length %></p>
							</article>
				</div>
			<% } %>
		</div>
	</div>
			

	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>